* {
    box-sizing: border-box;
}

.all-pages {
    height: 100vh;
    padding-top: 20vh; 
    text-align: center;
}

.question-page, .final-page, .correct-page, .incorrect-page {
    display: none;
}

input, label, .btn {
    cursor: pointer;
}

.selected {
    color: blue;
}